html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    /* TODO: ブルーライトカットを除去 */
    background-color: rgba(255, 255, 192, 0.2);
}

#webview_wrapper {
    height: 100%;
}